  /* Навигация */

  @media (max-width:920px) {
      header .navbar {
          max-width: 100%;
          padding: 0 25px;
      }

      header .navbar .logo a {
          font-size: 27px;
      }

      header .navbar .links li {
          padding: 0 10px;
          white-space: nowrap;
      }

      header .navbar .links li a {
          font-size: 17px;
      }
  }

  @media (max-width:800px) {

      .vertical-line {
          display: none;
      }

      hr {
          height: 1px;
          background-color: var(--main-color);
          margin: 15px 0;
      }

      .navbar .bx-menu {
          display: block;
      }

      header .navbar .nav-links {
          position: fixed;
          top: 0;
          left: -100%;
          display: block;
          max-width: 270px;
          width: 100%;
          background: var(--bg);
          line-height: 40px;
          padding: 20px;
          transition: all 0.5s ease;
          z-index: 1000;
      }

      .navbar .nav-links .sidebar-logo {
          display: flex;
          align-items: center;
          justify-content: space-between;
      }

      .sidebar-logo .logo-name {
          font-size: 25px;
          color: var(--dark-text);
      }

      .sidebar-logo i,
      .navbar .bx-menu {
          font-size: 25px;
          color: var(--dark-text);
      }

      header .navbar .links {
          display: block;
          margin-top: 20px;
      }

      header .navbar .links li .arrow {
          line-height: 40px;
      }

      header .navbar .links li {
          display: block;
      }

      header .navbar .links li .sub-menu {
          position: relative;
          top: 0;
          box-shadow: none;
          display: none;
      }

      header .navbar .links li .sub-menu li {
          border-bottom: none;

      }

      .navbar .links li .sub-menu .more-sub-menu {
          display: none;
          position: relative;
          left: 0;
      }

      .navbar .links li .sub-menu .more-sub-menu li {
          display: flex;
          align-items: center;
          justify-content: space-between;
      }

      .links li:hover .htmlcss-arrow,
      .links li:hover .js-arrow {
          transform: rotate(0deg);
      }

      .navbar .links li .sub-menu .more-sub-menu {
          display: none;
      }

      .navbar .links li .sub-menu .more span {
          display: flex;
          align-items: center;
      }

      .links li .sub-menu .more:hover .more-sub-menu {
          display: none;
      }

      header .navbar .links li:hover .htmlCss-sub-menu,
      header .navbar .links li:hover .js-sub-menu {
          display: none;
      }

      .navbar .nav-links.show1 .links .htmlCss-sub-menu,
      .navbar .nav-links.show3 .links .js-sub-menu,
      .navbar .nav-links.show2 .links .more .more-sub-menu {
          display: block;
      }

      .navbar .nav-links.show1 .links .htmlcss-arrow,
      .navbar .nav-links.show3 .links .js-arrow {
          transform: rotate(180deg);
      }

      .navbar .nav-links.show2 .links .more-arrow {
          transform: rotate(90deg);
      }
  }

  @media (max-width:370px) {
      header .navbar .nav-links {
          max-width: 100%;
      }
  }

  /* Конец навигации */

  /* Footer */
  @media (max-width: 365px) {
      .footer {
          position: fixed;
          flex-direction: column-reverse;
      }

      .footer p {
          text-align: center;
          margin-top: 2rem;
          z-index: 2;
      }
  }

  @media (max-width: 991px) {
      .footer {
          padding: 2rem 3%;
      }
  }

  /* Конец Footer */

  /* Главная страница */
  @media (max-width: 1033px) {
      .home {
          flex-direction: column;
      }

      .home-content h3 {
          font-size: 2.6rem;
      }

      .home-content h1 {
          font-size: 5rem;
      }

      .home-img img {
          width: 841px;
          margin-top: 4rem;
      }
  }

  @media (max-width: 800px) {
    .home-img img {
        width: 653px;
    }
}

  @media (max-width: 365px) {
      .home-img img {
          width: 310px;
      }
  }

  /* Конец "Главная страница" */

  /* Раздел "Контакты" */
  @media (max-width: 488px) {

      .contact form .contact_input-box {
          width: 100%;
      }

      .contact_error {
          font-size: 11px;

      }
  }

  /* Конец "Контакты" */

  /* Раздел "Резюме" */
  @media screen and (max-width: 424px) {
      .resume_wrapper .resume_right {
          padding: 20px 30px;
      }

      .resume_wrapper .resume_right .resume_data {
          flex-direction: column;
      }

      .resume_wrapper .resume_right .resume_data .resume_year {
          padding: 0;
          margin-bottom: 5px;
          width: 100%;
          color: var(--main-color);
      }

      .resume_wrapper .resume_right .resume_data .resume_year:before,
      .resume_wrapper .resume_right .resume_data .resume_year:after {
          display: none;
      }

      .resume_wrapper .resume_right .resume_data .resume_content {
          width: 100%;
          padding: 0;
      }

      .resume_wrapper .resume_right .resume_interests .resume_interests .resume_int_icon {
          font-size: 24px;
      }
  }

  
  @media screen and (max-width: 1172px) {
      .resume_wrapper .resume_right .resume_namerole {
          display: none;
      }

      .resume_wrapper .resume_left .resume_namerole {
          display: block;
      }

      .resume_wrapper {
          width: 95%;
          margin: 51px auto;
          flex-direction: column;
      }

      .resume_wrapper .resume_left,
      .resume_wrapper .resume_right {
          width: 100%;
      }
  }

  /* Конец раздел "Резюме" */

  /* Price */
  @media only screen and (max-width: 600px) {
      .price_table-row {
          font-size: 11px;
      }
  }

  /* Конец Price */

  /* Раздел Ремонт компьютеров */
  @media (max-width: 1033px) {
      .services_home {
          flex-direction: column;
      }

      .services_home-content h1 {
          font-size: 5rem;
      }

      .services_home-img img {
        width: 841px;
        margin-top: 4rem;
      }
  }

  @media (max-width: 800px) {
    .home-img img {
        width: 653px;
    }
}

  @media (max-width: 365px) {
      .home-img img {
          width: 310px;
      }
  }

  /* Конец Ремонт компьютеров */

  /* Раздел Проекты */
  @media (max-width: 1033px) {
      .projects h2 {
          margin-bottom: 3rem;
      }
  }


  /* Конец Проекты */

  /* Видео */
  @media (max-width: 1033px) {

           .video-wrapper {
          grid-template-columns: repeat(2, 1fr);
      }
  }

  @media (max-width: 630px) {
   
    .video-wrapper {
          grid-template-columns: repeat(1, 1fr);
      }
  }

  /* Конец Видео */

  /* Портфолио */


  @media (max-width: 1033px) {

      .portfolio h2 {
          margin-bottom: 3rem;
      }

      .portfolio-container {
          grid-template-columns: repeat(2, 1fr);
      }
  }

  @media (max-width: 630px) {
      .portfolio-container {
          grid-template-columns: repeat(1, 1fr);
      }
  }

  /* Конец Портфолио */


  /* Develop */
  @media screen and (min-width: 768px) {
    
    .develop_column {
        flex: 0 50%;
        max-width: 50%;
    }
}

@media screen and (min-width: 992px) {

    .develop_column {
        flex: 0 0 33.33%;
        max-width: 33.33%;
    }
}
/* Конец Develop */

/* Цена разрабки сайта */
@media screen and (max-width:1100px) {
    .pricingdev-card {
        flex: 50%;
    }
}
/* Конец цена разработки сайта */