@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');


/* Общие стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Noto Serif', serif;
}

:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;
}

html {
    font-size: 62.5%;
    overflow: visible;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}
/* //////////////////////////////////////////////////////// */

/* Раздел "Навигация" */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;

    opacity: 0;
    animation: sliderRight 1s ease forwards;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .3s;

    /* opacity: 0;
    animation: sliderTop 5s ease forwards;
    animation-delay: calc(.2s * var(--i)); */
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

/* //////////////////////////////////////////////////////// */

/* Раздел "Главная страница" */

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.home-img img {
    width: 35vw;
    /* margin-right: 100px; */

    opacity: 0;
    animation: ZoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 2s, 3s;
}

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;

    /* opacity: 0;
    animation: sliderBottom 1s ease forwards;
    animation-delay: .7s; */
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;

    /* animation: sliderTop 1s ease forwards;
    animation-delay: .7s; */
}

span {
    color: var(--main-color);
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
    /* 
    opacity: 0;
    animation: sliderLeft 1s ease forwards;
    animation-delay: 1s; */
}

.home-content p {
    font-size: 1.6rem;

    /* opacity: 0;
    animation: sliderRight 1s ease forwards;
    animation-delay: 1s; */
}

.socialmedia a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    transition: .5s ease;
    margin: 1rem;

    /* opacity: 0;
    animation: sliderLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i)); */
}

.socialmedia a:hover {
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;

    /* opacity: 0;
    animation: sliderTop 1s ease forwards;
    animation-delay: 1s; */
}

.btn-all {
    display: flex;
    justify-content: space-evenly;
    padding-right: 50rem;
}

.btn:hover {
    box-shadow: none;
}

/* //////////////////////////////////////////////////////// */

/* Раздел "Главная страница: анимация" */
@keyframes sliderRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes sliderTop {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes sliderBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes sliderLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes ZoomIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-45px);
    }

    100% {
        transform: translateY(0);
    }
}
/* //////////////////////////////////////////////////////// */

/* Раздел "Контакты" */
.contact h2 {
    margin-bottom: 3rem;
}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
}

::placeholder {
    color: var(--text-color);
}

.contact form .input-box input {
    width: 49%;
}

.contact form textarea {
    resize: none;
}

.contact form .btn {
    margin-top: 2rem;
    cursor: pointer;
}
/* //////////////////////////////////////////////////////// */

/* Раздел Обо мне */

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--second-bg-color);
}

.about-img img {
    width: 35vw;

    opacity: 0;
    animation: ZoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 2s, 3s;
}

.heading {
    text-align: center;
    font-size: 4.5rem;
}

.about-content h2 {
    text-align: left;
    line-height: 1.2;
}

.about-content h3 {
    font-size: 2.6rem;
}

.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}
/* //////////////////////////////////////////////////////// */

/* Подвал */

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
    background: var(--second-bg-color);
}

.footer-text {
    font-size: 1.6rem;
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;
}

.footer-iconTop a:hover {
    box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--second-bg-color);
}
/* //////////////////////////////////////////////////////// */

/* Раздел "Проекты" */

.projects h2 {
    margin-bottom: 5rem;
}

.projects-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.projects-container .projects-box {
    flex: 1 1 30rem;
    background: var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .5s ease;
}

.projects-container .projects-box:hover {
    border-color: var(--main-color);
    transform: scale(1.02);
}

.projects-box i {
    font-size: 7rem;
    color: var(--main-color);
}

.projects-box h3 {
    font-size: 2.6rem;
}

.projects-box p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}
/* //////////////////////////////////////////////////////// */

/* Раздел Портфолио */
.portfolio {
    background: var(--second-bg-color);
}

.portfolio h2 {
    margin-bottom: 4rem;
}

.portfolio-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.portfolio-container .portfolio-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
    width: 430px;
    height: 300px;
}

.portfolio-box img {
    width: 100%;
    transition: .5s ease;
}

.portfolio-box:hover img {
    transform: scale(1.1);
}

.portfolio-box .portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .8), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.portfolio-box:hover .portfolio-layer {
    transform: translateY(0);
}

.portfolio-layer h4 {
    font-size: 3rem;
}

.portfolio-layer p {
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}

.portfolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}

.portfolio-layer a i {
    font-size: 2rem;
    color: var(--second-bg-color);
}
/* //////////////////////////////////////////////////////// */

/* Раздел "Видео"*/
.video-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.video {
    padding: 7rem;
}

.video-container iframe {
    padding: 1rem;
    width: 560px;
    height: 315px;
}

.video-box {
    background: var(--second-bg-color);
    padding: 1rem;
    border-radius: 1rem;
    border: .2rem solid var(--bg-color);
    width: 560px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-box p {
    font-size: 1.7rem;
}
/* //////////////////////////////////////////////////////// */

/* Профиль*/
.inf {
    margin-top: 3.5rem;
}

.inf .profile-list .title {
    display: block;
    float: left;
    color: #fff;
    line-height: 36px;
}

.inf .profile-list .title i {
    font-size: 23px;
}

.profile-list {
    list-style-type: none;
}

.content {
    font-size: 4rem;
}

.inf .profile-list .title .fa {
    padding-left: 2px;
}

.inf .profile-list .content {
    display: block;
    margin-left: 30px;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    color: #fff;
    font-size: 1.6rem;
}

.clearfix {
    clear: both;
}
/* //////////////////////////////////////////////////////// */

/* Раздел Резюме */

.resume_wrapper {
    display: flex;
    width: 800px;
    margin: 64px auto;
    background: var(--second-bg-color);
    padding: 10px;
    font-size: 14px;
}

.resume_wrapper .resume_left {
    width: 35%;
    background: var(--bg-color);
}

.resume_wrapper .resume_left .resume_image {
    width: 100%;
}

.resume_wrapper .resume_left .resume_image img {
    width: 100%;
    display: block;
}

.resume_wrapper .resume_title {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 10px;
    letter-spacing: 4px;
}

.localization {
    float: right;
}

.localization a {
    color: var(--text-color);
    transition: .3s;
}


.localization a:hover,
.localization a.active {
    color: var(--main-color);
}

.resume_title_localization {
    display: flex;
    justify-content: space-between;

}

.resume_wrapper .resume_left .resume_info {
    color: var(--text-color);
}

.resume_wrapper .resume_left .resume_bottom {
    padding: 20px 30px;
}

.resume_wrapper .resume_item {
    padding: 20px 0;
    border-bottom: 1px solid #0175b2;
}

.resume_wrapper .resume_item:last-child {
    border-bottom: 0;
}

.resume_wrapper .resume_left .resume_namerole {
    display: none;
}

.resume_wrapper .resume_namerole .name {
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 5px;
    letter-spacing: 4px;
}

.resume_wrapper .resume_left .resume_namerole .role {
    color: #84838b;
}

.resume_wrapper .resume_left .resume_contact .resume_info:last-child {
    margin-top: 10px;
}

.resume_wrapper .resume_left .resume_contact .resume_subtitle {
    color: var(--text-color);
    margin-bottom: 2px;
}

.resume_wrapper .resume_left .resume_skills .skills_list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.resume_wrapper .resume_left .resume_skills .skills_list .skills_bar p {
    position: relative;
    width: 125px;
    height: 20px;
    background: #fff;
}

.resume_wrapper .resume_left .resume_skills .skills_list .skills_bar p span {
    position: absolute;
    top: 0;
    left: 0;
    background: #0175b2;
    width: 100%;
    height: 100%;
}

.resume_wrapper .resume_right {
    width: 65%;
    padding: 20px 40px;
    color: var(--text-color);
}

.resume_wrapper .resume_right .resume_namerole .name {
    color: var(--text-color);
    font-size: 32px;
}

.resume_wrapper .resume_right .resume_namerole .role {
    font-size: 14px;
    text-transform: uppercase;
}

.resume_wrapper .resume_right .resume_item .resume_title {
    color: var(--text-color);
}

.resume_wrapper .resume_right .resume_data {
    display: flex;
}

.resume_wrapper .resume_right .resume_data .year {
    padding-right: 35px;
    width: 115px;
    position: relative;
}

.resume_wrapper .resume_right .resume_data .resume_content {
    padding-left: 35px;
    margin-bottom: 20px;
    width: calc(100% - 115px);
}

.resume_wrapper .resume_right .resume_data .year:before {
    content: "";
    position: absolute;
    top: 5px;
    right: 0;
    width: 10px;
    height: 10px;
    background: #fff;
    border: 1px solid #26252d;
    border-radius: 50%;
}

.resume_wrapper .resume_right .resume_data .year:after {
    content: "";
    position: absolute;
    top: 17px;
    right: 4px;
    width: 3px;
    height: 90%;
    background: #0175b2;
}

.resume_wrapper .resume_right .resume_data:last-child .year:after {
    display: none;
}

.resume_wrapper .resume_right .resume_interests .resume_info {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.resume_wrapper .resume_right .resume_interests .interests .int_icon {
    font-size: 38px;
    color: #0175b2;
    margin-bottom: 10px;
}
/* //////////////////////////////////////////////////////// */

/* Всплывающая подсказка */

[data-tooltip] {
    position: relative;
}

[data-tooltip]::after {
    content: attr(data-tooltip);
    position: absolute;
    width: 200px;
    left: 0;
    top: 0;
    background: #3989c9;
    color: var(--text-color);
    padding: 0.5em;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    pointer-events: none;
    opacity: 0;
    transition: 1s;
}

[data-tooltip]:hover::after {
    opacity: 1;
    top: 2em;
}
/* //////////////////////////////////////////////////////// */

/* День и ночь */
.white body {
    background: rgb(169, 169, 169);
}

.white .header {
    background: rgb(128, 128, 128);
}

.white .about {
    background: rgb(169, 169, 169);
}

.white .portfolio {
    background: rgb(169, 169, 169);
}

.white .footer {
    background: rgb(128, 128, 128);
}

.white .contact form .input-box input,
.white .contact form textarea {
    background: rgb(128, 128, 128);
}

.white .resume_wrapper .resume_left {
    background: rgb(128, 128, 128);
}

.white .resume_wrapper {
    background: rgb(119, 136, 153);
}

.white .projects-box {
    background: rgb(128, 128, 128);
}
/* //////////////////////////////////////////////////////// */

/* Пагинация */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    margin: 2rem;
}

.pagination a {
    color: var(--text-color);
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid var(--main-color);
    margin: 0 4px;
}

.pagination a.active {
    background-color: var(--main-color);
    color: var(--text-color);
    border: 1px solid var(--main-color);
}

.pagination a:hover:not(.active) {
    background-color: var(--main-color);
}
/* //////////////////////////////////////////////////////// */